<a href="https://colab.research.google.com/github/sergeymasl/pandas_cource/blob/main/Exercise_Indexing_Selecting_and_Assigning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exercise: Indexing, Selecting & Assigning**

Этот ноутбук представляет собой упражнения в курсе по изучению [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html). Вы всегда можете изучить теоретическую часть по этой [ссылке](https://github.com/sergeymasl/pandas_cource/blob/main/Indexing_Selecting_%26_Assigning.ipynb)

## **Вступление**

Запустите код ниже для импрорта библиотек которые понадобяться вам при работе на этом практическом занятии (включая модули для проверки ваших ответов)

In [ ]:
# загружаем файл для импорта инструментов для проверки ответов
url = f"https://raw.githubusercontent.com/sergeymasl/pandas_cource/main/learntools/core.py"
!wget --no-cache --backups=1 {url}
url = f"https://raw.githubusercontent.com/sergeymasl/pandas_cource/main/learntools/indexing_selecting_and_assigning.py"
!wget --no-cache --backups=1 {url}
# импорт инструментов для проверки
from indexing_selecting_and_assigning import *

# импорты библиотек для работы
import pandas as pd

# чтение .csv файла из Google Colab
reviews = pd.read_csv('https://drive.google.com/uc?export=download&id=1z-1idT4mGbOvHgmEPzneqV54EJ1-w7tk', index_col = 0)
# настройка отображения
pd.set_option("display.max_rows", 5)

print("Setup complete.")

Взглянем как выглядят наши данные, использую следующий код:

In [ ]:
reviews.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

# **Упражнения**

**1.**
Создайте переменную ```desc``` с столбцом ```description``` из DataFrame ```reviews```.

In [ ]:
# Напишите свой код здесь.
desc = ____

# Проверьте свой ответ
q1.check(desc)

Вопрос: какой тип имеет переменная ```desc```? Если вы не уверены вы всегда можете проверить себя используя функцию Python ```type```, вот так: ```type(desc)```

**2.**
Создайте переменную ```first_description``` с первым значением столбца ```description``` из DataFrame ```reviews```.

In [ ]:
# Напишите свой код здесь.
first_description = ____

# Проверьте свой ответ
q2.check(first_description)
first_description

**3.** Создайте переменную ```first_row``` с первой строкой из DataFrame ```reviews```.

In [ ]:
# Напишите свой код здесь.
first_row = ____

# Проверьте свой ответ
q3.check(first_row)
first_row

**4.** Присвойте переменной ```first_descriptions``` первые 10 значений столбца ```description``` из DataFrame ```reviews```

In [ ]:
# Напишите свой код здесь.
first_descriptions = ____

# Проверьте свой ответ
q4.check(first_descriptions )
first_descriptions

**5.** Создайте переменную ```sample_reviews```, присвойте ей строки с индексами ```1```, ```2```, ```3```, ```5``` и ```8``` из DataFrame ```reviews```.

Другими словами создайте вот такой датафрейм:

|    | country   | description                                                                                                                                                                                                                                                           | designation          |   points |   price | province       | region_1            | region_2          | taster_name        | taster_twitter_handle   | title                                                               | variety            | winery              |
|---:|:----------|:----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|:---------------------|---------:|--------:|:---------------|:--------------------|:------------------|:-------------------|:------------------------|:--------------------------------------------------------------------|:-------------------|:--------------------|
|  1 | Portugal  | This is ripe and fruity, a wine that is smooth while still structured. Firm tannins are filled out with juicy red berry fruits and freshened with acidity. It's  already drinkable, although it will certainly be better from 2016.                                   | Avidagos             |       87 |      15 | Douro          | nan                 | nan               | Roger Voss         | @vossroger              | Quinta dos Avidagos 2011 Avidagos Red (Douro)                       | Portuguese Red     | Quinta dos Avidagos |
|  2 | US        | Tart and snappy, the flavors of lime flesh and rind dominate. Some green pineapple pokes through, with crisp acidity underscoring the flavors. The wine was all stainless-steel fermented.                                                                            | nan                  |       87 |      14 | Oregon         | Willamette Valley   | Willamette Valley | Paul Gregutt       | @paulgwine              | Rainstorm 2013 Pinot Gris (Willamette Valley)                       | Pinot Gris         | Rainstorm           |
|  3 | US        | Pineapple rind, lemon pith and orange blossom start off the aromas. The palate is a bit more opulent, with notes of honey-drizzled guava and mango giving way to a slightly astringent, semidry finish.                                                               | Reserve Late Harvest |       87 |      13 | Michigan       | Lake Michigan Shore | nan               | Alexander Peartree | nan                     | St. Julian 2013 Reserve Late Harvest Riesling (Lake Michigan Shore) | Riesling           | St. Julian          |
|  5 | Spain     | Blackberry and raspberry aromas show a typical Navarran whiff of green herbs and, in this case, horseradish. In the mouth, this is fairly full bodied, with tomatoey acidity. Spicy, herbal flavors complement dark plum fruit, while the finish is fresh but grabby. | Ars In Vitro         |       87 |      15 | Northern Spain | Navarra             | nan               | Michael Schachner  | @wineschach             | Tandem 2011 Ars In Vitro Tempranillo-Merlot (Navarra)               | Tempranillo-Merlot | Tandem              |
|  8 | Germany   | Savory dried thyme notes accent sunnier flavors of preserved peach in this brisk, off-dry wine. It's fruity and fresh, with an elegant, sprightly footprint.                                                                                                          | Shine                |       87 |      12 | Rheinhessen    | nan                 | nan               | Anna Lee C. Iijima | nan                     | Heinz Eifel 2013 Shine Gewürztraminer (Rheinhessen)                 | Gewürztraminer     | Heinz Eifel         |

In [ ]:
# Напишите свой код здесь.
sample_reviews = ____

# Проверьте свой ответ
q5.check()
sample_reviews

**6.** Создайте переменную ```df``` присвойте ей следующие столбцы: ```country```, ```province```, ```region_1``` и ```region_2``` из строк со следующими индексами: ```0```, ```1```, ```10``` и ```100```.

Другими словами создайте вот такой датафрейм:

|     | country   | province          | region_1     | region_2     |
|----:|:----------|:------------------|:-------------|:-------------|
|   0 | Italy     | Sicily & Sardinia | Etna         | nan          |
|   1 | Portugal  | Douro             | nan          | nan          |
|  10 | US        | California        | Napa Valley  | Napa         |
| 100 | US        | New York          | Finger Lakes | Finger Lakes |

In [ ]:
df = ____

# Проверьте свой ответ
q6.check()
df

**7.** Создайте переменнкю ```first_rows``` со столбцами ```country``` и ```varienty``` из первых 100 строк:

Подсказка: вы можете использовать ```loc``` или ```iloc```.

При выборе между операторами ```loc``` и ```iloc```, стоит держать в уме одну условность, эти операторы используют несколько разные способы *срезов данных*.

>```iloc``` использует срез данных как в Python, где первый элемент *среза* включен в последовательность, а последний нет. Так при срезе ```0:10``` будут выбраны ```0,...,9```. Оператор ```loc``` включает в последовательность все значения, так при срезе ```0:10``` будут выбраны ```0,...,10```.

> Повторим, так при ```df.loc[0:1000]``` вернется 1000 значений, а при ```df.loc[0:1000]``` вернется 1001 значение. Чтобы выбрать 1000 значений с ```loc``` нужно использовать ```df.loc[0:999]```.

In [ ]:
first_rows = ____

# Проверьте свой ответ
q7.check(first_rows)
first_rows

**8.** Создайте DataFrame ```italian_wines``` который состоит из вин родом из Италии (```Italy```). 

Подсказка: отфильтруйте DataFrame ```reviews``` по столбцу ```country```

In [ ]:
italian_wines = ____

# Проверьте свой ответ
q8.check(italian_wines)

**9.** Создайте DataFrame ```top_oceania_wines``` с записями о винах имеющих оценки не менее 95 баллов и родом из Автралии (```Australia```) и Новой Зеландии (```New Zealand```)

Подсказка: оценки вина записаны в столбце ```points```, страна происхождения в ```country```

In [ ]:
top_oceania_wines = ____

# Проверьте свой ответ
q9.check(top_oceania_wines)
top_oceania_wines