<a href="https://colab.research.google.com/github/sergeymasl/pandas_cource/blob/main/Exercise_Summary_Functions_and_Maps.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Exercise: Summary Functions and Maps**

## **Вступление**

Запустите код ниже для импрорта библиотек которые понадобяться вам при работе на этом практическом занятии (включая модули для проверки ваших ответов)

In [1]:
# загружаем файл для импорта инструментов для проверки ответов
#url = f"https://raw.githubusercontent.com/sergeymasl/pandas_cource/main/learntools/core.py"
#!wget --no-cache --backups=1 {url}
#url = f"https://raw.githubusercontent.com/sergeymasl/pandas_cource/main/learntools/indexing_selecting_and_assigning.py"
#!wget --no-cache --backups=1 {url}
# импорт инструментов для проверки
#from indexing_selecting_and_assigning import *

# импорты библиотек для работы
import pandas as pd

# чтение .csv файла из Google Colab
reviews = pd.read_csv('https://drive.google.com/uc?export=download&id=1z-1idT4mGbOvHgmEPzneqV54EJ1-w7tk', index_col = 0)
# настройка отображения
pd.set_option("display.max_rows", 5)

print("Setup complete.")

Setup complete.

Взглянем как выглядят наши данные, использую следующий код:

In [2]:
reviews.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

# **Упражнения**

**1.** Расчитайте медиану столбца ```point``` из DataFrame ```reviews```:

Подсказка: ищите метод в [документации](https://pandas.pydata.org/docs/reference/series.html#:~:text=Series%20or%20DataFrames.-,Computations%20/%20descriptive%20stats,-%C2%B6)

In [ ]:
median_points = ____

# Проверьте свой ответ
q1.check(median_points)

**2.** Какие страны представлены в DataFrame? Напишите код который вернет список уникальных значений (в ответе не должно быть дубликатов)

In [ ]:
countries = ____

# Проверьте свой ответ
q2.check(countries)

**3.** Как часто каждая страна появляется в этом датасете?
Создайте Series ```reviews_per_country``` с количеством упоминаний каждой уникальной страны.

Подсказка: подобная функция рассматривалась в теоретической части.

In [ ]:
reviews_per_country = ____

# Проверьте свой ответ
q3.check(reviews_per_country)

**4.** Создайте переменную ```centered_price``` со столбцом ```price``` в котором из каждой строки вычли [среднюю арифметичскую](https://pandas.pydata.org/docs/reference/api/pandas.Series.mean.html) цену:

In [ ]:


centered_price = ____

# Проверьте свой ответ
q4.check(centered_price)

**5.** Я экономный и расчетливый покупатель и я хочу купить вино которое макимально отрабатывает свою стоимость.

Создайте переменную ```bargain_wine``` с названием(```title```) вина у котрого наибольший показатель отношения оценки к цене.

То есть:
```points``` / ```price```

Подсказка: для выявления индекса с максимальным показателем используйте [этот метод](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.idxmax.html)

In [ ]:

bargain_wine = _____

# Проверьте свой ответ
q5.check(bargain_wine)

**6.** Для описания вина есть не так много слов. Какое описание "тропическое" или "фруктовое" чаще встречается в этом датасете?