<a href="https://colab.research.google.com/github/sergeymasl/pandas_cource/blob/main/Exercise_Renaming_and_Combining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Введение**

In [ ]:
# загружаем файл для импорта инструментов для проверки ответов
url = f"https://raw.githubusercontent.com/sergeymasl/pandas_cource/main/learntools/core.py"
!wget --no-cache --backups=1 {url}
url = f"https://raw.githubusercontent.com/sergeymasl/pandas_cource/main/learntools/renaming_and_combining.py"
!wget --no-cache --backups=1 {url}
# импорт инструментов для проверки
from renaming_and_combining import *

# импорты библиотек для работы
import pandas as pd

# чтение .csv файла из Google Colab
reviews = pd.read_csv('https://drive.google.com/uc?export=download&id=1z-1idT4mGbOvHgmEPzneqV54EJ1-w7tk', index_col = 0)

print("Setup complete.")

Взглянем как выглядят наши данные, использую следующий код:

In [ ]:
reviews.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

# **Упражнения**

**1.**

`region_1` и `region_2` довольно неинформативные названия столбцов для описания места. Присвойте переменной `renamed` датафрейм `reviews` с переименнованными на `region` и `locale`, соответственно, столбцами.

In [ ]:
# напишите ваш код здесь
renamed = ____

# проверьте свой ответ
q1.check(renamed)

In [ ]:
# подсказка(доступно после 3 попыток проверки ответа)
#q1.hint()
# решение(доступно после 5 попыток проверки ответа)
#q1.solution()

**2.**

В этом задании мы будем использовать два датасета из набора [Things on Reddit](https://www.kaggle.com/datasets/residentmario/things-on-reddit) c [Kaggle](https://www.kaggle.com/). Он представляет собой ссылки на продукты из топовых формумов (*subreditts*) на treddit.com.
Запустите код ниже для загрузки датасетов с subreditts:
> *r/games*
>
> *r/movies*

In [ ]:
# загрузка файла games
games_products = pd.read_csv('https://drive.google.com/uc?export=download&id=1Dcm3D9ZllWpgtPpkb_hh-C-pLvE9W7uV')
# идентификатор subreddit
games_products['subreddit'] = 'r/gaming'
# загрузка файла movies
movies_products = pd.read_csv('https://drive.google.com/uc?export=download&id=1otcaCQ_6cmVHB0HBupsqHdyCqEfkm7Gi')
# идентификатор subreddit
movies_products['subreddit'] = 'r/movies'

In [ ]:
games_products.head(3)

,name,category,amazon_link,total_mentions,subreddit_mentions,subreddit
0,Mayflash Wireless Sensor DolphinBar,Electronics,https://www.amazon.com/Mayflash-W010-Wireless-...,11,5,r/gaming
1,Nintendo Entertainment System: NES Classic Edi...,Video Games,https://www.amazon.com/Nintendo-Entertainment-...,4,3,r/gaming
2,PlayStation TV,Video Games,https://www.amazon.com/PlayStation-TV-vita/dp/...,12,2,r/gaming

In [ ]:
movies_products.head(3)

,name,category,amazon_link,total_mentions,subreddit_mentions,subreddit
0,Marvel Cinematic Universe: Phase One - Avenger...,Movies & TV,https://www.amazon.com/Marvel-Cinematic-Univer...,4.0,3,r/movies
1,On Stranger Tides,Books,https://www.amazon.com/Stranger-Tides-Tim-Powe...,3.0,3,r/movies
2,"Superintelligence: Paths, Dangers, Strategies",Books,https://www.amazon.com/Superintelligence-Dange...,7.0,2,r/movies

**Объедините эти датафреймы в один, вдоль оси индексов:**

(сначала `games_products`, затем `movies_products`)

In [ ]:
combined_products = ____

# проверьте свой ответ
q2.check(combined_products)

In [ ]:
# подсказка(доступно после 3 попыток проверки ответа)
#q2.hint()
# решение(доступно после 5 попыток проверки ответа)
#q2.solution()

**3.**
В этом задании мы будем использовать два датасета из набора [Powerlifting Database](https://www.kaggle.com/datasets/open-powerlifting/powerlifting-database/versions/1) c [Kaggle](https://www.kaggle.com/).

>Датасет `meets` содержит общую информацию о соревнованиях по пауэрлифтингу.

>Датасет `openpowerlifting` представляет собой таблицу с результатами соревнований по пауэрлифтингу.

Запустите код ниже для загрузки данных:

In [ ]:
meets = pd.read_csv('https://drive.google.com/uc?export=download&id=1oOJXjdewC6YKBP-CAn31xp-oaMk5n1kT')
openpowerlifting = pd.read_csv('https://drive.google.com/uc?export=download&id=1FFvQ59mt0KtHqbc04g8iEl6PWToXDfGN')

In [ ]:
meets.head(3)

,MeetID,MeetPath,Federation,Date,MeetCountry,MeetState,MeetTown,MeetName
0,0,365strong/1601,365Strong,2016-10-29,USA,NC,Charlotte,2016 Junior & Senior National Powerlifting Cha...
1,1,365strong/1602,365Strong,2016-11-19,USA,MO,Ozark,Thanksgiving Powerlifting Classic
2,2,365strong/1603,365Strong,2016-07-09,USA,NC,Charlotte,Charlotte Europa Games

In [ ]:
openpowerlifting.head(3)

,MeetID,Name,Sex,Equipment,Age,Division,BodyweightKg,WeightClassKg,Squat4Kg,BestSquatKg,Bench4Kg,BestBenchKg,Deadlift4Kg,BestDeadliftKg,TotalKg,Place,Wilks
0,0,Angie Belk Terry,F,Wraps,47.0,Mst 45-49,59.60,60,NaN,47.63,NaN,20.41,NaN,70.31,138.35,1,155.05
1,0,Dawn Bogart,F,Single-ply,42.0,Mst 40-44,58.51,60,NaN,142.88,NaN,95.25,NaN,163.29,401.42,1,456.38
2,0,Dawn Bogart,F,Single-ply,42.0,Open Senior,58.51,60,NaN,142.88,NaN,95.25,NaN,163.29,401.42,1,456.38

**Соедените эти датасеты таким образом `openpowerlifting` *`inner join`* `meets` по полю `MeetID`** :

In [ ]:
powerlifting_joined = ____

# проверьте свой ответ
q3.check(powerlifting_joined)

In [ ]:
# подсказка(доступно после 3 попыток проверки ответа)
#q3.hint()
# решение(доступно после 5 попыток проверки ответа)
#q3.solution()