<a href="https://colab.research.google.com/github/sergeymasl/pandas_cource/blob/main/Renaming_and_Combining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Renaming and Combining**

## **Введение**

В этот уроке вы изучите методы по изменению названий столбцов или индексов.

Также вы изучите как соединить несколько DataFrame или несколько Series

In [6]:
# импорт библиотеки
import pandas as pd
# настройка отображения
pd.set_option('max_rows', 5)
# загрузка датасета для дальнейшей работы
movies_director = pd.read_csv("https://drive.google.com/uc?export=download&id=1vnRsmnTDLNC7xfLviXWRe3DxnKIPBS9k", index_col=0, sep = ';')
movies_release = pd.read_csv("https://drive.google.com/uc?export=download&id=1Om_PzTwtWnj6BKXKndGpX3bJH8j2zM26", index_col=0, sep = ';')

Посмотрим на данные с которыми предстоит работать:

In [2]:
movies_director

             movie_name         director
0               Titanic    James Cameron
1            Green Book   Peter Farrelly
..                  ...              ...
9   Hachi: A Dog's Tale  Lasse Hallstrom
10         Police Story      Jackie Chan

[11 rows x 2 columns]

In [3]:
movies_release

                             movie_name     release_date
0        Sherlock Holmes and Dr. Watson   March 22, 1980
1                                Psycho    June 16, 1960
..                                  ...              ...
5   Lock, Stock and Two Smoking Barrels  August 28, 1998
6                          12 Angry Men   April 10, 1957

[7 rows x 2 columns]

## **Переименование**

Первый метод, который мы рассмотрим это `rename()`:

`rename(mapper=None, index=None, columns=None, axis=None, copy=True, inplace=False, level=None, errors='ignore')`

- `mapper` - словарь в виде `{'old_name' : 'new_name'}` или функция для переименования столбцов или строк, в зависимости от параметра `axis`
- `index` - словарь в виде `{'old_name_index' : 'new_name_index'}` для переименования индексов 
- `columns` - словарь в виде `{'old_name_column' : 'new_name_column'}` для переименования индексов
- `axis` - `{0 or ‘index’, 1 or ‘columns’}` - выбор оси, при  исползовании `mapper` 
- `copy` - параметр, отвечающий за создание копии исходных данных *(автор не нашел вариантов использования этого параметра)*
- `inplace` - параметр, отвечающий за изменение исходного массива
- `level` - уровень в мульти-индексе в котором необходимо произвести переименование
- `errors` - `{‘ignore’, ‘raise’}` - метод отвечающий за действия в случае обнаружения имени переименовываемого столбца/индекса которого нет в DataFrame.
> `raise` - если в параметре `mapper` или `index` или `columns` будет передано в виде старое имя которого нет в DataFrame, то будет выведено исключение 
>
> `ignore` - если будет передано старое имя, которого нет, метод продолжит работу, проигнорируя исключение


**Вы можете использовать либо  сочетание `mapper` и `axis`, либо параметры `axis` и/или `columns`**

**Пример:**

Переименуем столбцы c помощю функции и индексы с помощью словаря:

In [4]:
movies_director.rename(columns = str.upper, index = {0 : 'first_movie', 1 : 'second_movie'})

                       MOVIE_NAME         DIRECTOR
first_movie               Titanic    James Cameron
second_movie           Green Book   Peter Farrelly
...                           ...              ...
9             Hachi: A Dog's Tale  Lasse Hallstrom
10                   Police Story      Jackie Chan

[11 rows x 2 columns]

И посмотрим отработку параметра `errors`:

In [ ]:
try:
  # имя 'producer' нет в названии столбца
  # errors по умолчанию
  movies_director.rename(columns = {'producer' : 'продюсер'})
  print("Метод rename c параметром errors \033[1mпо умолчанию\033[0m отработал и не вызвал исключение\n")
  # errors - 'raise'
  movies_director.rename(columns = {'producer' : 'продюсер'}, errors = 'raise')
except Exception as ex:
  print("Метод rename c параметром errors - \033[1m'raise'\033[0m вызвал исключение:")
  print(f'Тип исключения: \033[1m{type(ex)}\033[0m')
  print(f'Описание исключения: \033[1m{ex}\033[0m')

Метод rename c параметром errors по умолчанию отработал и не вызвал исключение

Метод rename c параметром errors - 'raise' вызвал исключение:
Тип исключения: <class 'KeyError'>
Описание исключения: "['producer'] not found in axis"

# **Сопоставление**

В процессе работы над данными часто, возникает потребность в сопоставлении или содинении данны из разных таблиц.

Pandas имеет три основных метода сопоставления данных:
- `pd.concat()`
- `df.join()`
- `df.merge()`

## **pd.concat()**
Первый метод который мы рассмотрим, это `pd.concat()`, он применяется когда данные хранятся в нескольких DataFrame и/или Series, и их необходимо соединить вместе без каких-либо сопоставлений.
Функция объединяет данные вдоль одной из осей:

![fillna_1.PNG](https://raw.githubusercontent.com/sergeymasl/pandas_cource/main/picture/concat.PNG)

С помощью `pd.concat()` можно соединять как DataFrame, так и Series.

In [30]:
series_1 = movies_release['movie_name']
series_2 = movies_release['movie_name'].map(str.upper)
pd.concat([series_1, series_2], axis = 1)

                             movie_name                           movie_name
0        Sherlock Holmes and Dr. Watson       SHERLOCK HOLMES AND DR. WATSON
1                                Psycho                               PSYCHO
..                                  ...                                  ...
5   Lock, Stock and Two Smoking Barrels  LOCK, STOCK AND TWO SMOKING BARRELS
6                          12 Angry Men                         12 ANGRY MEN

[7 rows x 2 columns]

Теперь рассмотрим синтаксис и опишем основные параметры:

`pandas.concat(objs, axis=0, join='outer', ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, sort=False, copy=True)`

- `objs` - cписок с DataFrame и/или Series `[df1, df2, series1, series2]`
- `axis` - `{0 or ‘index’, 1 or ‘columns’}` - выбор оси, вдоль которой нужно сопоставить DataFrame или Series
- `join` - `bool` - `{‘inner’, ‘outer’}` - способ подстановки данных, при `outer` данные будут подставлены вне зависимости от наличия одинаковых столбцов(axis = 0) или индексов(axis = 1) при `inner` будут сопоставленны столько строки/столбцы имеющие одинаковые индексы (ниже подробнее)
- `ignore_index` - если присвоить параметру `True`, то в объединенном массиве индексы или названия столбцов (в зависимости от выбора оси работы метода) будут проигнорированны и созданы новые от 0 до n-1
- `keys` - в параметр передается список с "ключами" идентифицирующими соединенные фреймы данных, размер списка должен быть равным количеству соединяемых фреймов. При соединении вдоль индексов будет создан мультииндекс первым уровнем которого будуд "ключи", если соединение вдоль столбцов, то будут переименованны столбцы.


**Подробнее о параметре join:**

`df1 = pd.DataFrame([['a', 1], ['b', 2]], columns=['letter', 'number'])`

|    | letter   |   number |
|:---|:--------:|:--------:|
|  0 | a        |        1 |
|  1 | b        |        2 |

`df2 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']], columns=['letter', 'number', 'animal'])`

|    | letter   |   number | animal   |
|:---|:--------:|:--------:|:--------:|
|  0 | c        |        3 | cat      |
|  1 | d        |        4 | dog      |


`pd.concat([df1, df2], join="outer")`

|    | letter   |   number | animal   |
|:---|:--------:|:--------:|:--------:|
|  0 | a        |        1 | NaN      |
|  1 | b        |        2 | NaN      |
|  0 | c        |        3 | cat      |
|  1 | d        |        4 | dog      |

`pd.concat([df1, df2], join="inner")`

|    | letter   |   number |
|:---|:--------:|:--------:|
|  0 | a        |        1 |
|  1 | b        |        2 |
|  0 | c        |        3 |
|  1 | d        |        4 |


Более подробная информация и примеры использования в [оф.документации](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html)

## **df.join()**

А теперь прежде чем мы перейдем к изучению метода, рассмотрим само понятие `join`. 

Итак join имеет 4 варианта сопоставления: 
- `left join`
- `right join`
- `outer join`
- `inner join`

**Рассмотрим на примере**:
мы имеем два набора данных, **первый** это названия фильмов с указанием режисеров, **второй** это названия фильмов с датами их релизов. *Ключами по которым можно идентифицировать фильмы, это, собственно, сами названия фильмов. В этом массиве они уникальны, хотя в жизни все бывает сложнее.* 

Фильмы между этими массивами **могут пересекаться, а могут не пересекаться**.

Вот они:

![](https://raw.githubusercontent.com/sergeymasl/pandas_cource/main/picture/join_arrays.png)



>**первый массив** `left join` **второй массив** - это когда ко всем строкам **первого массива** присвоят **СОВПАДАЮЩИЕ по КЛЮЧУ** строки из **второго массива**

>**первый массив** `right join` **второй массив** - это когда наоборот, всем строкам **второго массива** присвоят **СОВПАДАЮЩИЕ по КЛЮЧУ** строки из **перового массива**

>**первый массив** `outer join` **второй массив** - это когда в результат будут выведены **все строки из обоих наборов** вне зависимости от пересечений

>**первый массив** `inner join` **второй массив** - это когда в результат будут выведены **ТОЛЬКО пересекающиеся по КЛЮЧУ строки**

![](https://raw.githubusercontent.com/sergeymasl/pandas_cource/main/picture/join_1_left.png)

![](https://raw.githubusercontent.com/sergeymasl/pandas_cource/main/picture/join_2_right.png)

![](https://raw.githubusercontent.com/sergeymasl/pandas_cource/main/picture/join_3_outer.png)

![](https://raw.githubusercontent.com/sergeymasl/pandas_cource/main/picture/join_4_inner.png)

Еще вот хорошая статейка про [join-ы](https://skillbox.ru/media/code/metodologiya-bem-chto-eto-takoe-i-kak-ona-uproshchaet-zhizn-razrabotchikam/)

Вот хорошая статейка про [ключи в данных](https://habr.com/ru/post/193284/)

Изображения join-ов в pdf [для шпаргалки](https://github.com/sergeymasl/pandas_cource/blob/main/picture/cheatsheet_join.pdf)

Вернемся к методу `join`.

`df.join(other, on=None, how='inner', lsuffix='', rsuffix='', sort=False)` - метод **сопоставляющий** данные из первого датафрейма по определенному столбцу(ключ), с данными второго датафрейма **относительно его индексов**
- `other` - `DataFrame, Series, or list of DataFrame` - параметр, принимающий объект DataFrame или Series, c которым будет происходить сопоставление
- `on` - `str, list of str, or array-like, optional` - cтрока с названием столбца, по которому будет происходит сопоставление
- `how` - `{‘left’, ‘right’, ‘outer’, ‘inner’}, default ‘left’` параметр, принимающий строки inner, left, right, outer, в зависимости от типа соединения
- `lsuffix` и `rsuffix` - `str, default ''` - параметры, принимающие строки для приписки к одинаковым именам столбцов в левом и правом датафреймах
- `sort` - `bool, default False` - параметр сортировки по столбцу-ключу, в слючае False сортировка происходит в зависимости от метода соедиенения

In [14]:
# соединим массивы с фильмами используя метод join()
# для начала объявим столбец-ключ в правом датафрейме как индексы

movie_release_index = movies_release.set_index('movie_name')

# теперь объеденим (left_join)

movies_director.join(movie_release_index, on = 'movie_name')

,movie_name,director,release_date
0,Titanic,James Cameron,NaN
1,Green Book,Peter Farrelly,"September 11, 2018"
2,Harry Potter and the Chamber of Secrets,Chris Columbus,NaN
3,Solyaris,Andrei Tarkovsky,NaN
4,Dead Mountaineer's Hotel,Grigori Kromanov,NaN
5,Tenet,Christopher Nolan,NaN
6,"Lock, Stock and Two Smoking Barrels",Guy Ritchie,"August 28, 1998"
7,Psycho,Alfred Hitchcock,"June 16, 1960"
8,Sherlock Holmes and Dr. Watson,Igor Maslennikov,"March 22, 1980"
9,Police Story,Jackie Chan,NaN

In [16]:
# inner_join

movies_director.join(movie_release_index, on = 'movie_name', how = 'inner')

                            movie_name          director        release_date
1                           Green Book    Peter Farrelly  September 11, 2018
6  Lock, Stock and Two Smoking Barrels       Guy Ritchie     August 28, 1998
7                               Psycho  Alfred Hitchcock       June 16, 1960
8       Sherlock Holmes and Dr. Watson  Igor Maslennikov      March 22, 1980

## **df.merge()**

`DataFrame.merge(right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)` - метод представляет собой модифицированный `df.join()`, но в качестве ключей могут выступать любые столбцы, а не только индексы.

- `right` - `DataFrame or Series` - объект с которым сопоставляется исходный датафрейм

- `how` - `{‘left’, ‘right’, ‘outer’, ‘inner’, ‘cross’}, default ‘inner’` - параметр, принимающий строки inner, left, right, outer, cross в зависимости от типа соединения

- `on` - `label or list` - название столбца, по которому необходимо сопоставить датафреймы, это будет работать только, если столбец с таким именем будет в обоих датафреймах.
Если параметр `on` будет пустым и ниже идущие параметры будут пустыми,  сопоставление произойдет автоматически по сопадающим столбцам.

- `left_on` и `right_on` - `label or list` - имя столбца или столбцов в левом правом датафрейме, соответвенно, по которым нужно сопоставить. Эти параметры используют имена столбцов в датафреймах не совпадают.

- `left_index` и `right_index` - `bool, default False` - использование индексов в качестве ключей в левом и/или правом датафрейме, соответственно.

- `sort` - `bool, default False` - параметр сортировки по столбцу-ключу, в слючае False сортировка происходит в зависимости от метода соединения

- `suffixes` - `list-like, default is (“_x”, “_y”)` - параметр для приписки столбцам с одинаковыми именами в датафреймах не являющимися ключами.

- `copy` - `bool, default True` - если False, то метод избегает копирования *(автор не нашел вариантов использования этого метода)*

- `indicator` - `bool or str, default False` - при активации параметра создается столбец с информацией был ли ключ в обоих столбцах или был в каком то одном, а также информацию в каком именно. При передаче в параметр строки, строка будет являться названием этого столбца. 

- `validate` - `str` - если параметр активен происходит проверка уникальности ключей в датафреймах.
>`“one_to_one”` или `“1:1”` - проверяет уникальность ключей в обоих датафреймах
>
>`“one_to_many”` или `“1:m”` - проверяет уникальность ключей в левом датафрейме
>
>`“many_to_one”` или `“m:1”` - проверяет уникальность ключей в правом датафрейме

**Примеры использования:**

In [31]:
df1 = pd.DataFrame({'first_name' : ['Anna', 'Max', 'Hue'], 'Age' : [25, 29, 32]})
df2 = pd.DataFrame({'first_name' : ['Anna', 'Anna', 'Erik', 'Hue'], 'shirt_size' : ['xs', 's', 'xl', 's']})

df1:

|    | first_name   |   Age |
|---:|:-------------|------:|
|  0 | Anna         |    25 |
|  1 | Max          |    29 |
|  2 | Hue          |    32 |

df2:

|    | first_name   | shirt_size   |
|---:|:-------------|:-------------|
|  0 | Anna         | xs           |
|  1 | Anna         | s            |
|  2 | Erik         | xl           |
|  3 | Hue          | s            |

In [38]:
try:
  # столбцамы с одинаковым названием в датафрейме явлются столбцы first_name, они и будут ключами
  # однако в df2 значения в этом столбце не уникальны. Там имеется две строки с именем Anna
  # выставим параметр indicator на проверку уникальности в обоих датафреймах и посмотрим на исключение, которое он вызовет
  df1.merge(df2, validate = 'one_to_one')
except Exception as ex:
  print(f'Тип исключения: \033[1m{type(ex)}\033[0m')
  print(f'Описание исключения: \033[1m{ex}\033[0m')

Тип исключения: <class 'pandas.errors.MergeError'>
Описание исключения: Merge keys are not unique in right dataset; not a one-to-one merge

In [40]:
# а теперь посмотрим на отработку параметра indicator
df1.merge(df2, how = 'outer', indicator = 'is_from')

  first_name   Age shirt_size     is_from
0       Anna  25.0         xs        both
1       Anna  25.0          s        both
2        Max  29.0        NaN   left_only
3        Hue  32.0          s        both
4       Erik   NaN         xl  right_only

Оф.документация [по методу](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html)