<a href="https://colab.research.google.com/github/sergeymasl/pandas_cource/blob/main/Renaming_and_Combining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Renaming and Combining**

## **Введение**

В этот уроке вы изучите методы по изменению названий столбцов или индексов.

Также вы изучите как соединить несколько DataFrame или несколько Series

In [29]:
# импорт библиотеки
import pandas as pd
# настройка отображения
pd.set_option('max_rows', 5)
# загрузка датасета для дальнейшей работы
movies_director = pd.read_csv("https://drive.google.com/uc?export=download&id=1vnRsmnTDLNC7xfLviXWRe3DxnKIPBS9k", index_col=0, sep = ';')
movies_release = pd.read_csv("https://drive.google.com/uc?export=download&id=1Om_PzTwtWnj6BKXKndGpX3bJH8j2zM26", index_col=0, sep = ';')

In [40]:
movies_director

             movie_name         director
0               Titanic    James Cameron
1            Green Book   Peter Farrelly
..                  ...              ...
9   Hachi: A Dog's Tale  Lasse Hallstrom
10         Police Story      Jackie Chan

[11 rows x 2 columns]

In [41]:
movies_release

                             movie_name     release_date
0        Sherlock Holmes and Dr. Watson   March 22, 1980
1                                Psycho    June 16, 1960
..                                  ...              ...
5   Lock, Stock and Two Smoking Barrels  August 28, 1998
6                          12 Angry Men   April 10, 1957

[7 rows x 2 columns]

## **Переименование**

Первый метод, который мы рассмотрим это `rename()`:

`rename(mapper=None, index=None, columns=None, axis=None, copy=True, inplace=False, level=None, errors='ignore')`

- `mapper` - словарь в виде `{'old_name' : 'new_name'}` или функция для переименования столбцов или строк, в зависимости от параметра `axis`
- `index` - словарь в виде `{'old_name_index' : 'new_name_index'}` для переименования индексов 
- `columns` - словарь в виде `{'old_name_column' : 'new_name_column'}` для переименования индексов
- `axis` - `{0 or ‘index’, 1 or ‘columns’}` - выбор оси, при  исползовании `mapper` 
- `copy` - параметр, отвечающий за создание копии исходных данных *(автор не нашел вариантов использования этого параметра)*
- `inplace` - параметр, отвечающий за изменение исходного массива
- `level` - уровень в мульти-индексе в котором необходимо произвести переименование
- `errors` - `{‘ignore’, ‘raise’}` - метод отвечающий за действия в случае обнаружения имени переименовываемого столбца/индекса которого нет в DataFrame.
> `raise` - если в параметре `mapper` или `index` или `columns` будет передано в виде старое имя которого нет в DataFrame, то будет выведено исключение 
>
> `ignore` - если будет передано старое имя, которого нет, метод продолжит работу, проигнорируя исключение


**Вы можете использовать либо  сочетание `mapper` и `axis`, либо параметры `axis` и/или `columns`**

**Примеры:**
Переименуем столбцы и индексы:

In [32]:
movies_director.rename(columns = str.upper, index = {0 : 'first_movie', 1 : 'second_movie'})

                       MOVIE_NAME         DIRECTOR
first_movie               Titanic    James Cameron
second_movie           Green Book   Peter Farrelly
...                           ...              ...
9             Hachi: A Dog's Tale  Lasse Hallstrom
10                   Police Story      Jackie Chan

[11 rows x 2 columns]

И посмотрим отработку параметра `errors`:

In [39]:
try:
  # имя 'producer' нет в названии столбца
  # errors по умолчанию
  movies_director.rename(columns = {'producer' : 'продюсер'})
  print("Метод rename c параметром errors \033[1mпо умолчанию\033[0m отработал и не вызвал исключение\n")
  # errors - 'raise'
  movies_director.rename(columns = {'producer' : 'продюсер'}, errors = 'raise')
except Exception as ex:
  print("Метод rename c параметром errors - \033[1m'raise'\033[0m вызвал исключение:")
  print(f'Тип исключения: \033[1m{type(ex)}\033[0m')
  print(f'Описание исключения: \033[1m{ex}\033[0m')

Метод rename c параметром errors по умолчанию отработал и не вызвал исключение

Метод rename c параметром errors - 'raise' вызвал исключение:
Тип исключения: <class 'KeyError'>
Описание исключения: "['producer'] not found in axis"

# **Сопоставление**

В процессе работы над данными часто, возникает потребность в сопоставлении или содинении разных таблиц данных.

Pandas имеет три основных метода сопоставления данных:
- `pd.concat()`
- `pd.join()`
- `pd.merge()`

Первый метод который мы рассмотрим, это `pd.concat()`, он применяется когда данные хранятся в нескольких DataFrame и/или Series, но имеют одинаковый набор столбцов или индексов, в зависимости от того каким образом вы хотите соединить их.
Функция объединяет данные вдоль одной из осей:

![fillna_1.PNG](https://raw.githubusercontent.com/sergeymasl/pandas_cource/main/picture/concat.PNG)

С помощью `pd.concat()` можно соединять как DataFrame, так и Series.

In [48]:
pd.concat([movies_release['movie_name'], movies_release['movie_name'].map(str.upper)], axis = 1)

                             movie_name                           movie_name
0        Sherlock Holmes and Dr. Watson       SHERLOCK HOLMES AND DR. WATSON
1                                Psycho                               PSYCHO
..                                  ...                                  ...
5   Lock, Stock and Two Smoking Barrels  LOCK, STOCK AND TWO SMOKING BARRELS
6                          12 Angry Men                         12 ANGRY MEN

[7 rows x 2 columns]